#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 50px;
}

.read-the-docs {
  color: #888;
}

.textarea {
  align-items: start;
  background-color: #5e5b5b;
  width: 65rem;
  height: 25rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.2rem 1.2rem;
}

.checkAIButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.image {
  max-width: 85%;
  width: auto;
  height: auto;
}

p {
  padding: 0;
  margin-block-start: 1.2em;
  margin-block-end: 0;
}

.textareaContainer {
  padding: 1.2rem;
}

//toggle css
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5c5a5a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(0, 1%, 50%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(200, 4%, 86%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//end toggle css