#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 50px;
}

.read-the-docs {
  color: #888;
}

.textarea {
  align-items: start;
  background-color: #5e5b5b;
  width: 65rem;
  height: 25rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.2rem 1.2rem;
}

.checkAIButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.image {
  max-width: 85%;
  width: auto;
  height: auto;
}

p {
  padding: 0;
  margin-block-start: 1.2em;
  margin-block-end: 0;
}

.textareaContainer {
  padding: 1.2rem;
}
